.footer
    width: 100vw
    height: 100px
    background-color: #2F2F2F
    display: flex
    justify-content: space-between

    &__contact
        display: flex
        flex-direction: column
        color: white
        margin-top: 18px
        margin-left: 50px
        font-family: 'Roboto', sans-serif
        font-size: 10px

        span
            display: flex
            line-height: 32px
            margin: 0 10px
            align-items: center

            img
                margin-right: 5px